#banner
  .banner_content
    %h1 File Cabinate
    %p Your life's work. Organized, always. 
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p About how the application works! Tote bag aesthetic offal helvetica snackwave occupy keytar schlitz. Meditation aesthetic godard bitters, tumblr roof party art party literally you probably haven't heard of them. Yr vice keffiyeh next level fanny pack knausgaard skateboard etsy tacos chillwave affogato activated charcoal listicle sustainable. Thundercats fanny pack tumblr viral. Kinfolk hashtag selfies man bun neutra shaman cornhole post-ironic bespoke salvia pabst affogato four dollar toast. Quinoa fingerstache hella tote bag edison bulb vinyl +1 tofu cronut kitsch godard. Tattooed shaman tumblr, enamel pin cray kitsch helvetica ugh pinterest.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join now", new_user_registration_path